body{
    background-image: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);
    opacity-bottom: 0.4;
}
.container {
 width: 300px;
 padding:0px 10px;
 margin: 0px auto;
}
.red {
 color: #678;
}
table {
 margin: 0px 5px 5px 5px;
}
button {
 width: 50px; 
 height: 50px; 
 font-size: 22px;
 background-color: rgba(150, 100, 150, 0.5);
 color: #fee;
 border: 2px #b9b outset;
 border-radius: 5px;
 outline: none;
 cursor: pointer;
}
.top {
 height: 30px; 
 background-color: #009788;
 border-radius: 4px;
 border: 1px green outset;
 color: #fff;
   font-size: 16px;
}
#c {
 height: 64px;
 color: #fff;
 font-weight: bold;
}
button:active{
 background-color: #dbc;
 box-shadow: none ;
 padding-top: 4px;
 outline: 1px solid #989;
 border: 3px #b9b inset;
}
.top:hover{
 background-color: #bab;
 box-shadow: inset 5px 5px 5px #cab, inset -5px -5px 5px #a98;
}
button:hover{
 background-color: #a9a;
}
.top:active{
 background-color: #dbc;
 box-shadow: none ;
 padding-top: 4px;
 outline: 1px solid #989;
 border: 3px #b9b inset;
}
#display-container {
 border: 3px inset;
 margin-bottom: 10px;
}
#h1, #display1 { 
 width: 260px; 
 height: 25px; 
 padding: 2px;
 padding-top: 4px; 
 background-color:powderblue; 
 font-size: 22px;
 font-family: sans-serif;
 font-weight: bold;
 text-align: right;
 overflow: hidden;
 font-weight:bold;
 color: #245;
 text-shadow: 2px 2px 1px #8ac;
}
#display1 {
 font-size: 20px;
}
.div {
 border: 5px #6bc ridge  ;
 border-radius: 10px;
 margin: 0px 5px 5px 5px;
 padding-top: 0px;
 width: 286px;
   background-color: #689;
 font-size: 11px;
 color: white;
}
.w {
 box-shadow: -10px 10px 10px silver;
 border: 5px #6bc groove;
 margin: 0px 5px 5px 5px;
 border-radius: 10px;
 padding-top: 0px;
 font-size: 11px;
 cursor: pointer;
 width: 285px;
 color: white;
}
}
.disabled, .disabled:active, .disabled:hover {
 padding-top: 0px;
 background-color: #999;
 box-shadow: 0px 0px 0px grey;
 border: none;
}
sup {
 font-size: .65em;
}

